.overlay
	#consultation.modal
		.modal__close ×
		h2.modal__title=ditictionary['modal__title'][lang]
		.modal__subtitle=ditictionary['modal__subtitle'][lang]
		form.client-form.client-form_modal(action='#')
			input(name='name' placeholder=ditictionary['placeholderName'][lang] type='text')
			input(name='telephone' placeholder=ditictionary['placeholderPhone'][lang])
			input(name='email' placeholder=ditictionary['placeholderEmail'][lang] type='email')
			button.button.button_modal=ditictionary['button_modal'][lang]
			.client-form__loading=ditictionary['client-form__loading'][lang]
	#buy.modal
		.modal__close ×
		h2.modal__title=ditictionary['modal__title-Order'][lang]
		.modal__subtitle=ditictionary['modal__subtitle-Order'][lang]
		form.client-form.client-form_modal(action='#')
			input(name='name' placeholder=ditictionary['placeholderName'][lang] type='text')
			input(name='telephone' placeholder=ditictionary['placeholderPhone'][lang])
			input(name='email' placeholder=ditictionary['placeholderEmail'][lang] type='email')
			button.button.button_modal=ditictionary['button_modal'][lang]
			.client-form__loading=ditictionary['client-form__loading'][lang]
	#buy-done.modal
		.modal__close ×
		h2.modal__title=ditictionary['modal__title-Thnx'][lang]
		.modal__subtitle=ditictionary['modal__subtitle-Thnx'][lang]
a.to-top(href='#top')
	img(src=require('../img/icons/chevron-up-solid.svg') alt='')
section#top.promo
	.container
		header.header
			a.header__logo(href='#top')
				img(src=require('../img/icons/header_logo.png') alt='logo')
			.header__official
				.header__upper-text=ditictionary['header__upper-text'][lang]
				.header__lower-text Garmin, Polar, Suunto
			.header__contacts
				a(href='tel:+380999999999') +380 99-999-99-99
				button.button.button_contacts(data-modal='consultation')=ditictionary['button_contacts'][lang]
		.promo__wrapper
			h1.promo__title=ditictionary['promo__title'][lang]
			h2.promo__sub-title=ditictionary['promo__sub-title'][lang]
			.promo__icons
				.promo__icon
					img(src=require('../img/icons/main_ico_1.png') alt='icon')
					=ditictionary['promo__icon-Time'][lang]
				.promo__icon
					img(src=require('../img/icons/main_ico_2.png') alt='icon')
					=ditictionary['promo__icon-Free'][lang]
				.promo__icon
					img(src=require('../img/icons/main_ico_3.png') alt='icon')
					=ditictionary['promo__icon-Questions'][lang]
			button.button.button_main(data-modal='consultation')=ditictionary['button_main'][lang]
			.promo__go-catalog
				| або 
				a(href='#catalog')=ditictionary['catalog'][lang]
section.advantages
	.container
		h2.title=ditictionary['title'][lang]
		.advantages__wrapper
			.advantages__advantage
				img(src=require('../img/icons/advantages_ico_1.png') alt='advantage1')
				h3=ditictionary['advantages__advantage-Experience'][lang]
				.advantages__text-descr=ditictionary['advantages__text-descr-Experience'][lang]
			.advantages__advantage
				img(src=require('../img/icons/advantages_ico_2.png') alt='advantage2')
				h3=ditictionary['advantages__advantage-Health'][lang]
				.advantages__text-descr=ditictionary['advantages__text-descr-Health'][lang]
			.advantages__advantage
				img(src=require('../img/icons/advantages_ico_3.png') alt='advantage3')
				h3=ditictionary['advantages__advantage-Run'][lang]
				.advantages__text-descr=ditictionary['advantages__text-descr-Run'][lang]
					span.red PUSHEB.RUNNINGSCHOOL
section.consultation
	.container
		h2.title.title_consultation=ditictionary['title_consultation'][lang]
			br
			=ditictionary['title_consultation-2'][lang]
		.consultation__text-descr=ditictionary['consultation__text-descr'][lang]
			br
			=ditictionary['consultation__text-descr2'][lang]
		form.client-form.client-form_consultation(action='#')
			input(name='name' placeholder=ditictionary['placeholderName'][lang] type='text')
			input(name='telephone' placeholder=ditictionary['placeholderPhone'][lang])
			input(name='email' placeholder=ditictionary['placeholderEmail'][lang] type='email')
			button.button.button_client-form=ditictionary['button_modal'][lang]
			.client-form__loading=ditictionary['client-form__loading'][lang]
.slider
	.container
		button.slider__prev-button
			img(src=require('../img/icons/left_arrow_ico.png') alt='')
		.slider__catalog-slider
			.slider__picture
				img(src=require('../img/imgs/product_1.jpg') alt='item')
			.slider__picture
				img(src=require('../img/imgs/product_2.jpg') alt='item')
			.slider__picture
				img(src=require('../img/imgs/product_3.jpg') alt='item')
		button.slider__next-button
			img(src=require('../img/icons/right_arrow_ico.png') alt='')
section#catalog.catalog
	.container
		.title=ditictionary['catalog_title'][lang]
		.catalog__tabs
			ul.catalog__tabs-list
				li.catalog__tab-active
					span=ditictionary['catalog__tab1'][lang]
				li
					span=ditictionary['catalog__tab2'][lang]
				li
					span=ditictionary['catalog__tab3'][lang]
			-let k = 0;
			-for(let i = 0; i < catalog.length / 6; i++)
				if i === 0
					.catalog__tabs-content.catalog__tabs-content-active
						-for(let l = 0; l < 6; l++)
							+cardStart(catalog[k].imageLoc, catalog[k].name, catalog[k].descr, catalog[k].cardMoreInfoList, catalog[k].oldPrice, catalog[k].newPrice)
							-k++
				else 
					.catalog__tabs-content
						-for(let l = 0; l < 6; l++)
							+card(catalog[k].imageLoc, catalog[k].name, catalog[k].descr, catalog[k].cardMoreInfoList, catalog[k].oldPrice, catalog[k].newPrice)
							-k++
section.reviews
	.container
		.title=ditictionary['title-Reviews'][lang]
		.reviews__reviewers-wrap
			.reviews__review-block.wow.animate__fadeInUp.animate__animated
				img(src=require('../img/imgs/reviewer_1.png') alt='')
				.reviews__data
					h2.reviews__name=ditictionary['reviews__name-1'][lang]
					.reviews__marathons-count=ditictionary['reviews__marathons-count-1'][lang]
					.reviews__descr=ditictionary['reviews__descr-1'][lang]
						br
						br
						=ditictionary['reviews__descr-1-1'][lang]
						br
						br
						=ditictionary['reviews__descr-1-2'][lang]
			.reviews__review-block.wow.animate__fadeInUp.animate__animated
				img(src=require('../img/imgs/reviewer_2.png') alt='')
				.reviews__data
					h2.reviews__name=ditictionary['reviews__name-2'][lang]
					.reviews__marathons-count=ditictionary['reviews__marathons-count-2'][lang]
					.reviews__descr=ditictionary['reviews__descr-2'][lang]
						br
						br
						=ditictionary['reviews__descr-2-1'][lang]
			.reviews__review-block.wow.animate__fadeInUp.animate__animated
				img(src=require('../img/imgs/reviewer_3.png') alt='')
				.reviews__data
					h2.reviews__name=ditictionary['reviews__name-3'][lang]
					.reviews__marathons-count=ditictionary['reviews__marathons-count-3'][lang]
					.reviews__descr=ditictionary['reviews__descr-3'][lang]
						br
						br
						=ditictionary['reviews__descr-3-1'][lang]
						br
						br
						=ditictionary['reviews__descr-3-2'][lang]
footer.footer
	.footer__map
		iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.616682418517!2d30.520700868295325!3d50.44824016848958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51271776ad%3A0xb0d410c97b3a4426!2sLviv%20Croissants!5e0!3m2!1suk!2sge!4v1690122520287!5m2!1suk!2sge' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
	.footer__contacts
		address=ditictionary['address'][lang]
		a.footer__phone(href='tel:+380999999999') +380 99 999-99-99
		.footer__socials
			a(target='_blank' href='https://www.facebook.com/')
				span.icon-facebook
			a(target='_blank' href='https://www.instagram.com/')
				span.icon-instagram
			a(target='_blank' href='https://www.pinterest.com/')
				span.icon-pinterest